section{}
section > div{}
section > div > div{}
.resumeBox{margin-bottom: 32px; }
.resumeImg{width: 260px; height: 500px; background-color: #333; margin-right: 20px; }
.resumeText{}
.resumeText > h3{font-size: 18px; color: #333; font-weight: 500; }
.resumeText > p{font-size: 14px; color: #595959; line-height: 1.5; }
section > div > div > img{}
section > div > div > h3{}
section > div > div > p{}
section > ul{}
section > ul{}
section > ul > li{float: left; margin-right: 12px; }
section > ul > li > div{}
section > ul > li > div > img{width: 52px; }
section > ul > li > h4{}
@media all and (min-width: 480px){
    
}
@media all and (min-width: 768px){
    
}
@media all and (min-width: 1280px){
    
}